# Deep Learning
tensorflow==2.19.0

# Data Science
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
joblib==1.4.2

# Coleta de Dados Financeiros
yfinance==0.2.56

# API
flask==3.0.3
flask-monitoringdashboard==4.0.4 #3.2.3


# MLflow para tracking de experimentos
mlflow==2.13.0

# Outros
requests==2.32.3